<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <!--<p>DANIEL</p> -->
    <img src="https://www.google.es/search?q=sorpresa&source=lnms&tbm=isch&sa=X&ved=0ahUKEwihusT_hfTaAhWEyqQKHeaICtEQ_AUICigB&biw=1536&bih=759#imgrc=snL4qLCWnMBnjM:">
  </body>
</html>